1.2Define source.png

1.Define source.png

2.Defining destination.png

3.Select stream and Config connection.png

4.Started pipeline and ran successfully.png

adding one row in postgress to check if it reflects in the snowflk.png

airbyte installation using git bash.png

airbyte local host login.txt

Command for installing airbyte.txt

Command to login into the postgres CLI.docx

snowflake coding paractice work url.txt

Verifying 2 the data is loaded in snowflake.png

Verifying 3 the data is loaded in snowflake.png

Verifying the data is loaded in snowflake.png

Snowflake AirByte_connection.docx